.site-wrapper {
    position: relative;
    z-index: 10;
    min-height: 100%;
    background: #fff;
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
}

body.nav-opened .site-wrapper {
    overflow-x: hidden;
    -webkit-transform: translate3D(-240px, 0, 0);
    -ms-transform: translate3D(-240px, 0, 0);
    transform: translate3D(-240px, 0, 0);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
}

.main-nav {
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: white;
    border-radius: 4px;
    border: solid 1px lightgray;
    padding: 10px;
    margin: 10px 10px 0 0;
    z-index: 2;
}

.main-nav a {
    text-decoration: none;
    font-family: inherit;
    color: #333;
    padding: 2px;
    font-weight: bold;
    font-size: 18px;
    vertical-align: middle;
}

.main-nav a img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.nav .checkbox{
    color: white;
}

.nav p{
    color: white;
}