#body {
    margin: 0px;
}

#mapContainer {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.school {
    width: 14px;
    height: 14px;
    border-radius: 6px;
    border: solid 1px silver;
    padding: 2px;
    text-align: center;
    font-size: 0.5em;
    color: white;
    background-color: green;
}

.hospital {
    width: 14px;
    height: 14px;
    border-radius: 6px;
    border: solid 1px silver;
    padding: 2px;
    text-align: center;
    font-size: 0.5em;
    color: white;
    background-color: red;
}

.metro {
    width: 14px;
    height: 14px;
    border-radius: 6px;
    border: solid 1px silver;
    padding: 2px;
    text-align: center;
    font-size: 0.5em;
    color: white;
    background-color: fuchsia;
}

.supermarket {
    width: 14px;
    height: 14px;
    border-radius: 6px;
    border: solid 1px silver;
    padding: 2px;
    text-align: center;
    font-size: 0.5em;
    color: white;
    background-color: fuchsia;
}